body {
    margin: 0;
    padding: 0;
    font-family: 'Clash Display', 'Roboto', sans-serif;
    background-color: white;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    padding: 0px 20px;
}

section {
    min-height: 100vh;
    /* margin-bottom: 100px; */
}

.section-heading {
    width: 80%;
    max-width: 750px;
    margin-bottom: 50px;
    font-size: 30pt;
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 750px;
    margin: auto;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
}

.about-container h1 {
    font-size: 50pt;
    margin: 0px 0px 20px 0px;
}

.social-links {
    display: flex;
    justify-content: end;
}

.social-links a {
    border: 1px solid black;
    margin: 0px 5px;
    padding: 3px 5px;
    text-decoration: none;
    color: #000;
}

.social-links a:hover {
    background-color: black;
    color: white; 
    cursor: pointer;
}

.project-grid {
    display: grid;
    width: 80%;
    max-width: 750px;
    margin: auto;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px; /* Gap between cards */
    padding: 20px; /* Padding around the grid */
}

.project-grid a{
    text-decoration: none;
    color: black;
}

.project-card {
    background-color: rgba(228, 228, 228, 0.59);
    border: 2px solid black;
    border-radius: 1px;
    padding: 16px;
    /* text-align: center; */
    min-height: 200px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.project-card:hover {
    background-color: black;
    color: rgba(228, 228, 228, 0.8);
    cursor: pointer;
    transition: 0.3s;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.project-card h3 {
    margin-top: 12px;
}

.project-card p {
    margin-top: 8px;
    font-size: 14px;
}


.technologies {
    margin-top: auto;
}

.project-card i {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 2em;
    display: none;
  }

 .project-card:hover i {
    display: block;
} 


.contact-container {
    width: 80%;
    max-width: 750px;
    margin: auto;
    /* border-top: 1px solid black; */
    /* border-bottom: 1px solid black; */
    border-radius: 3px;
    padding: 10px;
    margin-top: 100px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.contact-form input {
    width: 80%;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.contact-form textarea {
    width: 80%;
    max-width: 500px;
    min-height: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.contact-form button {
    max-width: 500px;
    margin: 10px;
    padding: 7px 10px;
    border: none;
    /* border: 1px solid black; */
    border-radius: 2px; 
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: rgb(61, 61, 61);
    color: white;
    transition: 0.3s;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}

footer a {
    color: rgb(172, 172, 172);
    text-decoration: none;
    font-weight: 400;
    font-size: smaller;
}

footer a:hover {
    color: black;
    text-decoration: underline;
}